.container-ck {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

 .container-ck h1 {
    text-align: center;
    color: rgb(33, 180, 180);
  }

.content-ck {
  width: 40%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; */
}

.content-ck p {
  margin: 0;
  font-size: 16px;
}

.content-ck h2 {
  background-color: antiquewhite;
  border-radius: 5px;
}

.bts-ck {
  display: flex;
  justify-content: space-between;
}